In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/kaggle/input/job-description-dataset/job_descriptions.csv')

In [5]:
df['Role'] = df['Role'].astype(str).str.strip()
df['Job Title'] = df['Job Title'].astype(str).str.strip()
df['Preference'] = df['Preference'].astype(str).str.strip()
df['Country'] = df['Country'].astype(str).str.strip()
df['Qualifications'] = df['Qualifications'].astype(str).str.strip()

In [6]:
df['Job Posting Date'] = pd.to_datetime(df['Job Posting Date'], format='%Y-%m-%d', errors='coerce')

In [7]:
asian_countries = ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'Hong Kong SAR, China', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Korea, Rep.', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'Sri Lanka', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Turkey', 'Turkmenistan', 'UAE', 'Uzbekistan', 'Vietnam', 'Yemen', 'West Bank and Gaza']

In [8]:
filtered_df = df[
    (df['Role'] == 'Data Engineer') &
    (df['Job Title'] == 'Data Scientist') &
    (df['Preference'].str.lower() == 'female') &
    (~df['Country'].isin(asian_countries)) &
    (~df['Country'].str.startswith('C')) &
    (df['latitude'] >= 10) &
    (df['Qualifications'] == 'B.Tech') &
    (df['Job Posting Date'] >= '2023-01-01') &
    (df['Job Posting Date'] <= '2023-06-01')
]

In [9]:
print("Filtered rows:", filtered_df.shape[0])
filtered_df.head(10)

Filtered rows: 16

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Contact,Job Title,Role,Job Portal,Job Description,Benefits,skills,Responsibilities,Company,Company Profile
96211,2186643327154705,4 to 14 Years,B.Tech,$61K-$124K,Douglas,Isle of Man,54.2361,-4.5481,Temporary,32472,...,751-254-2116x7999,Data Scientist,Data Engineer,Stack Overflow Jobs,Data Engineers design and maintain data pipeli...,"{'Childcare Assistance, Paid Time Off (PTO), R...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Occidental Petroleum,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O..."
233797,2528493504449029,4 to 11 Years,B.Tech,$60K-$98K,Nouakchott,Mauritania,21.0079,-10.9408,Full-Time,31354,...,+1-967-362-2869x478,Data Scientist,Data Engineer,Idealist,Data Engineers design and maintain data pipeli...,"{'Employee Assistance Programs (EAP), Tuition ...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Great Wall Motors,"{""Sector"":""Automotive"",""Industry"":""Automotive""..."
277781,2788325195889486,5 to 12 Years,B.Tech,$62K-$126K,Copenhagen,Denmark,56.2639,9.5018,Contract,81568,...,(762)495-8694,Data Scientist,Data Engineer,USAJOBS,Data Engineers design and maintain data pipeli...,"{'Childcare Assistance, Paid Time Off (PTO), R...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Micron Technology,"{""Sector"":""Technology"",""Industry"":""Semiconduct..."
499392,610933073868383,1 to 11 Years,B.Tech,$55K-$86K,Helsinki,Finland,61.9241,25.7482,Part-Time,95651,...,563-844-7657,Data Scientist,Data Engineer,CareerBuilder,Data Engineers design and maintain data pipeli...,"{'Employee Referral Programs, Financial Counse...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Escorts Limited,"{""Sector"":""Automotive"",""Industry"":""Automotive""..."
599115,2480278556879948,3 to 14 Years,B.Tech,$55K-$113K,Stockholm,Sweden,60.1282,18.6435,Part-Time,45151,...,4332513600,Data Scientist,Data Engineer,Jobs2Careers,Data Engineers design and maintain data pipeli...,"{'Tuition Reimbursement, Stock Options or Equi...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Fortescue Metals Group,"{""Sector"":""Mining and Metals"",""Industry"":""Mini..."
705062,2382234439249782,2 to 12 Years,B.Tech,$63K-$113K,Rome,Italy,41.8719,12.5674,Part-Time,111987,...,985-783-9757x391,Data Scientist,Data Engineer,FlexJobs,Data Engineers design and maintain data pipeli...,"{'Casual Dress Code, Social and Recreational A...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Indiabulls Housing Finance,"{""Sector"":""Financial Services"",""Industry"":""Fin..."
731874,1329839915759481,3 to 15 Years,B.Tech,$62K-$86K,Warsaw,Poland,51.9194,19.1451,Intern,60441,...,597-320-5358x2989,Data Scientist,Data Engineer,Glassdoor,Data Engineers design and maintain data pipeli...,"{'Employee Referral Programs, Financial Counse...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",AutoNation,"{""Sector"":""Automotive"",""Industry"":""Automotive ..."
785714,987941345480373,4 to 10 Years,B.Tech,$63K-$83K,Oslo,Norway,60.4720,8.4689,Contract,55876,...,557.973.1859x7994,Data Scientist,Data Engineer,Monster,Data Engineers design and maintain data pipeli...,"{'Casual Dress Code, Social and Recreational A...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Farmers Insurance Exchange,"{""Sector"":""Insurance"",""Industry"":""Insurance: P..."
825976,2287242293003368,5 to 10 Years,B.Tech,$62K-$82K,Madrid,Spain,40.4637,-3.7492,Part-Time,98794,...,982.862.9680x83244,Data Scientist,Data Engineer,Idealist,Data Engineers design and maintain data pipeli...,"{'Life and Disability Insurance, Stock Options...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Xiaomi Corporation,"{""Sector"":""Technology and Electronics"",""Indust..."
853594,1107015942188038,3 to 8 Years,B.Tech,$61K-$120K,Macao,"Macao SAR, China",22.1987,113.5439,Part-Time,124501,...,+1-840-956-6396x0138,Data Scientist,Data Engineer,FlexJobs,Data Engineers design and maintain data pipeli...,"{'Casual Dress Code, Social and Recreational A...","Data integration ETL (Extract, Transform, Load...","Design, build, and maintain data pipelines and...",Capital One Financial,"{""Sector"":""Financial Services"",""Industry"":""Com..."

In [10]:
filtered_df.to_csv('/kaggle/working/task2_filtered_data.csv', index=False)

In [11]:
top_10_companies = (
    filtered_df['Company']
    .value_counts()
    .head(10)
    .index
)

final_df = filtered_df[filtered_df['Company'].isin(top_10_companies)]

final_df.to_csv('/kaggle/working/task2_filtered_top10.csv', index=False)